{% load static %}
<nav class="navbar">

    <div class="navbar-content">

        <a href="https://www.bhu.ac.in/Site/Home/1_2_16_Main-Site">

            <img src="/static/images/bhulogo.png"
                 alt="BHU Logo"
                 class="logo">

        </a>

        <ul class="nav-links">

            <li>
                <a href="/">
                    Home
                </a>
            </li>

            <li class="dropdown">

                <a href="#">
                    About Us
                </a>

                <ul class="dropdown-menu">

                    <li><a href="/objective/">Objective</a></li>

                    <li><a href="/philosophy/">Philosophy</a></li>

                    <li><a href="/functions/">Functions</a></li>

                    <li><a href="/responsibility/">Responsibility</a></li>

                    <li><a href="/isro-edusat/">ISRO-EDUSAT Centre</a></li>

                    <li><a href="/facilities/">Facilities</a></li>

                </ul>

            </li>

            <li class="dropdown">

                <a href="#">
                    Programmes
                </a>

                <ul class="dropdown-menu">

                    <li><a href="/programme-courses/">Courses</a></li>

                    <li><a href="/curriculum/">Curriculum</a></li>

                    <a href="{% static 'pdf/courses_organized.pdf' %}"
                        target="_blank">

                            Course Organized

                    </a>


                    <li><a href="/course-coordinator/">Course Coordinator</a></li>

                </ul>

            </li>

            <li class="dropdown">

                <a href="#">
                    People
                </a>

                <ul class="dropdown-menu">

                    <li><a href="/teaching-staff/">Teaching Staff</a></li>

                    <li><a href="/non-teaching-staff/">Non Teaching Staff</a></li>

                </ul>

            </li>

            <li>
                <a href="/activities/">
                    Activities
                </a>
            </li>

            <li>
                    <a href="{% url 'terms_conditions' %}">
                        Terms and Conditions
                    </a>
            </li>

            <li class="dropdown">

                <a href="#">
                    Participants
                </a>

                <ul class="dropdown-menu">

                    <li>{% load static %}

                        <a href="{% static 'pdf/participants.pdf' %}"
                           target="_blank">
                            Participants
                        </a></li>

                    <li><a href="{% url 'evaluation_participants' %}">
                            Evaluation of Participants
                        </a></li>

                </ul>

            </li>

            <li class="dropdown">

                <a href="#">
                    Resource Persons
                </a>

                <ul class="dropdown-menu">

                    <li><a href="{% url 'resource_persons' %}">Resource Persons</a></li>

                    <li><a href="{% static 'pdf/resource_pdf.pdf' %}"
                           target="_blank">
                            Resource Persons PDF
                        </a></li>

                </ul>

            </li>

            <li>
                <a href="/gallery/">
                    Gallery
                </a>
            </li>

            <li>
                <a href="/contact/">
                    Contact Us
                </a>
            </li>

            <li>
                <a href="/login/">
                    Login
                </a>
            </li>

            <li>
                <a href="/register/">
                    Register
                </a>
            </li>

        </ul>

    </div>

</nav>