{% extends 'base.html' %}

{% block title %}
Apply Course
{% endblock %}

{% block content %}

<h1>
    Apply For Course
</h1>

<h2>
    {{ course.title }}
</h2>

<form method="POST">

    {% csrf_token %}

    <label>
        Qualification
    </label>

    <input type="text"
           name="qualification"
           required>

    <label>
        Experience
    </label>

    <textarea name="experience"
              required>
    </textarea>

    <label>
        Address
    </label>

    <textarea name="address"
              required>
    </textarea>

    <label>
        Purpose Statement
    </label>

    <textarea name="statement"
              required>
    </textarea>

    <button type="submit">

        Submit Application

    </button>

</form>

{% endblock %}