{% extends 'base.html' %}

{% block title %}
My Applications
{% endblock %}

{% block content %}

<h1>
    My Applications
</h1>

<table border="1" cellpadding="10">

    <tr>

        <th>
            Course
        </th>

        <th>
            Status
        </th>

        <th>
            Applied On
        </th>

    </tr>

    {% for application in applications %}

    <tr>

        <td>
            {{ application.course.title }}
        </td>

        <td>
            {{ application.status }}
        </td>

        <td>
            {{ application.application_date }}
        </td>

    </tr>

    {% empty %}

    <tr>

        <td colspan="3">
            No applications submitted.
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}