{% extends 'base.html' %}

{% block title %}
My Applications
{% endblock %}

{% block content %}

<h1>My Applications</h1>

<table class="info-table">

    <tr>
        <th>Course</th>
        <th>Submitted Date</th>
        <th>Download PDF</th>
    </tr>

    {% for application in applications %}

    <tr>
        <td>
            {{ application.course.course_code }} : {{ application.course.title }}
            <br>
            ({{ application.course.start_date }} - {{ application.course.end_date }}) ({{ application.course.mode }})
        </td>

        <td>
            {{ application.application_date }}
        </td>

        <td>
            <a href="#">
                Download PDF
            </a>
        </td>
    </tr>

    {% empty %}

    <tr>
        <td colspan="3">
            No applications submitted yet.
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}