{% extends 'base.html' %}

{% block title %}
Create Course
{% endblock %}

{% block content %}

<h1>Create Course</h1>

<form method="POST">

    {% csrf_token %}

    <label>Course Type</label>

       <select name="course_type" required>
              <option value="">-- Select Course Type --</option>
              <option>Orientation Courses</option>
              <option>Refresher Courses</option>
              <option>Inter/Multi Disciplinary Refresher Courses</option>
              <option>Short Term Courses</option>
              <option>NEP</option>
       </select>

    <label>Course Title</label>
    <input type="text"
           name="title">

       <label>Mode</label>

              <select name="mode" required>
              <option value="">-- Select Mode --</option>
              <option>Online</option>
              <option>Offline</option>
       </select>

    <label>Start Date</label>
    <input type="date"
           name="start_date">

    <label>End Date</label>
    <input type="date"
           name="end_date">

    <button type="submit">
        Create Course
    </button>

</form>

{% endblock %}