{% extends 'base.html' %}

{% block title %}
Edit Course
{% endblock %}

{% block content %}

<h1>Edit Course</h1>

<form method="POST">

    {% csrf_token %}

<label>Course Type</label>

       <select name="course_type" required>
              <option value="{{ course.course_type }}">
                     {{ course.course_type }}
              </option>
              <option value="">-- Select Course Type --</option>
              <option>Orientation Courses</option>
              <option>Refresher Courses</option>
              <option>Inter/Multi Disciplinary Refresher Courses</option>
              <option>Short Term Courses</option>
              <option>NEP</option>
       </select>

    <label>Course Title</label>

    <input type="text"
           name="title"
           value="{{ course.title }}">

       <label>Mode</label>

              <select name="mode" required>

              <option value="{{ course.mode }}">
                     {{ course.mode }}
              </option>

              <option>Online</option>

              <option>Offline</option>

       </select>

    <label>Start Date</label>

    <input type="date"
           name="start_date"
           value="{{ course.start_date|date:'Y-m-d' }}">

    <label>End Date</label>

    <input type="date"
           name="end_date"
           value="{{ course.end_date|date:'Y-m-d' }}">

     <label>Seat Status</label>

       <select name="seat_status" required>
       <option value="{{ course.seat_status }}">
              {{ course.seat_status }}
       </option>
       <option>Vacant</option>
       <option>Full</option>
       </select>

     <label>Visibility</label>

       <select name="is_visible" required>
       <option value="true">
              Visible
       </option>
       <option value="false">
              Hidden
       </option>
       </select>

    <button type="submit">
        Update Course
    </button>

</form>

{% endblock %}