{% extends 'base.html' %}

{% block title %}
Manage Courses
{% endblock %}

{% block content %}

<h1>
    Manage Courses
</h1>

<table border="1" cellpadding="10">

    <tr>

        <th>
            Type
        </th>

        <th>
            Course
        </th>

        <th>
            Seat Status
        </th>

        <th>
            Visibility
        </th>

        <th>
            Actions
        </th>

    </tr>

    {% for course in courses %}

    <tr>

        <td>
            {{ course.course_code }}
        </td>

        <td>

            {{ course.course_code }} :
            {{ course.title }}

            <br>

            ({{ course.start_date }} -
            {{ course.end_date }})
            ({{ course.mode }})

        </td>

        <td>

            {% if course.seat_status == 'Vacant' %}

                <strong>
                    Vacant
                </strong>

                <br>

                <a href="/mark-course-full/{{ course.id }}/"
                class="table-action warning">
                    Mark Full
                </a>

            {% else %}

                <strong>
                    Full
                </strong>

                <br>

                <a href="/mark-course-vacant/{{ course.id }}/"
                class="table-action success">
                    Mark Vacant
                </a>

            {% endif %}

        </td>

        <td>

            {% if course.is_visible %}

                <strong>
                    Visible
                </strong>

                <br>

                <a href="/hide-course/{{ course.id }}/"
                class="table-action warning">
                    Hide
                </a>

            {% else %}

                <strong>
                    Hidden
                </strong>

                <br>

                <a href="/show-course/{{ course.id }}/"
                    class="table-action success">
                    Show
                </a>
            {% endif %}

        </td>

        <td>

            <a href="/edit-course/{{ course.id }}/"
            class="table-action neutral">
                Edit
            </a>

            <br>

            <a href="/delete-course/{{ course.id }}/"
            class="table-action danger">
                Delete
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}