{% extends 'base.html' %}

{% block title %}
Manage Courses
{% endblock %}

{% block content %}

<h1>
    Manage Courses
</h1>

<table border="1" cellpadding="10">

    <tr>

        <th>Title</th>

        <th>Duration</th>

        <th>Seats</th>

        <th>Actions</th>

    </tr>

    {% for course in courses %}

    <tr>

        <td>
            {{ course.title }}
        </td>

        <td>
            {{ course.duration }}
        </td>

        <td>
            {{ course.seats }}
        </td>

        <td>

            <a href="/edit-course/{{ course.id }}/">
                Edit
            </a>

            |

            <a href="/delete-course/{{ course.id }}/">
                Delete
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}