{% extends 'base.html' %}

{% block title %}
View Applications
{% endblock %}

{% block content %}

<h1>
    Submitted Applications
</h1>

<table border="1" cellpadding="10">

    <tr>

        <th>Applicant</th>

        <th>Course</th>

        <th>Status</th>

        <th>Date</th>

    </tr>

    {% for application in applications %}

    <tr>

        <td>
            {{ application.applicant }}
        </td>

        <td>
            {{ application.course }}
        </td>

        <td>
            {{ application.status }}
        </td>

        <td>
            {{ application.application_date }}
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}